<apex:page showHeader="false">
<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <META> element to your page <HEAD>.      -->
<!--  If necessary, please modify the charset parameter to specify the        -->
<!--  character set of your HTML page.                                        -->
<!--  ----------------------------------------------------------------------  -->

    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"/>

<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
	var country_list = [
		{"code": "AF", "name": "Afghanistan"},
		{"code": "AX", "name": "Åland Islands"},
		{"code": "AL", "name": "Albania"},
		{"code": "DZ", "name": "Algeria"},
		{"code": "AS", "name": "American Samoa"},
		{"code": "AD", "name": "Andorra"},
		{"code": "AO", "name": "Angola"},
		{"code": "AI", "name": "Anguilla"},
		{"code": "AQ", "name": "Antarctica"},
		{"code": "AG", "name": "Antigua and Barbuda"},
		{"code": "AR", "name": "Argentina"},
		{"code": "AM", "name": "Armenia"},
		{"code": "AW", "name": "Aruba"},
		{"code": "AU", "name": "Australia"},
		{"code": "AT", "name": "Austria"},
		{"code": "AZ", "name": "Azerbaijan"},
		{"code": "BS", "name": "Bahamas"},
		{"code": "BH", "name": "Bahrain"},
		{"code": "BD", "name": "Bangladesh"},
		{"code": "BB", "name": "Barbados"},
		{"code": "BY", "name": "Belarus"},
		{"code": "BE", "name": "Belgium"},
		{"code": "BZ", "name": "Belize"},
		{"code": "BJ", "name": "Benin"},
		{"code": "BM", "name": "Bermuda"},
		{"code": "BT", "name": "Bhutan"},
		{"code": "BO", "name": "Bolivia (Plurinational State of)"},
		{"code": "BQ", "name": "Bonaire, Sint Eustatius and Saba"},
		{"code": "BA", "name": "Bosnia and Herzegovina"},
		{"code": "BW", "name": "Botswana"},
		{"code": "BV", "name": "Bouvet Island"},
		{"code": "BR", "name": "Brazil"},
		{"code": "IO", "name": "British Indian Ocean Territory"},
		{"code": "BN", "name": "Brunei Darussalam"},
		{"code": "BG", "name": "Bulgaria"},
		{"code": "BF", "name": "Burkina Faso"},
		{"code": "BI", "name": "Burundi"},
		{"code": "CV", "name": "Cabo Verde"},
		{"code": "KH", "name": "Cambodia"},
		{"code": "CM", "name": "Cameroon"},
		{"code": "CA", "name": "Canada"},
		{"code": "KY", "name": "Cayman Islands"},
		{"code": "CF", "name": "Central African Republic"},
		{"code": "TD", "name": "Chad"},
		{"code": "CL", "name": "Chile"},
		{"code": "CN", "name": "China"},
		{"code": "CX", "name": "Christmas Island"},
		{"code": "CC", "name": "Cocos (Keeling) Islands"},
		{"code": "CO", "name": "Colombia"},
		{"code": "KM", "name": "Comoros"},
		{"code": "CG", "name": "Congo"},
		{"code": "CD", "name": "Congo (Democratic Republic of the)"},
		{"code": "CK", "name": "Cook Islands"},
		{"code": "CR", "name": "Costa Rica"},
		{"code": "CI", "name": "Côte d'Ivoire"},
		{"code": "HR", "name": "Croatia"},
		{"code": "CU", "name": "Cuba"},
		{"code": "CW", "name": "Curaçao"},
		{"code": "CY", "name": "Cyprus"},
		{"code": "CZ", "name": "Czechia"},
		{"code": "DK", "name": "Denmark"},
		{"code": "DJ", "name": "Djibouti"},
		{"code": "DM", "name": "Dominica"},
		{"code": "DO", "name": "Dominican Republic"},
		{"code": "EC", "name": "Ecuador"},
		{"code": "EG", "name": "Egypt"},
		{"code": "SV", "name": "El Salvador"},
		{"code": "GQ", "name": "Equatorial Guinea"},
		{"code": "ER", "name": "Eritrea"},
		{"code": "EE", "name": "Estonia"},
		{"code": "ET", "name": "Ethiopia"},
		{"code": "FK", "name": "Falkland Islands (Malvinas)"},
		{"code": "FO", "name": "Faroe Islands"},
		{"code": "FJ", "name": "Fiji"},
		{"code": "FI", "name": "Finland"},
		{"code": "FR", "name": "France"},
		{"code": "GF", "name": "French Guiana"},
		{"code": "PF", "name": "French Polynesia"},
		{"code": "TF", "name": "French Southern Territories"},
		{"code": "GA", "name": "Gabon"},
		{"code": "GM", "name": "Gambia"},
		{"code": "GE", "name": "Georgia"},
		{"code": "DE", "name": "Germany"},
		{"code": "GH", "name": "Ghana"},
		{"code": "GI", "name": "Gibraltar"},
		{"code": "GR", "name": "Greece"},
		{"code": "GL", "name": "Greenland"},
		{"code": "GD", "name": "Grenada"},
		{"code": "GP", "name": "Guadeloupe"},
		{"code": "GU", "name": "Guam"},
		{"code": "GT", "name": "Guatemala"},
		{"code": "GG", "name": "Guernsey"},
		{"code": "GN", "name": "Guinea"},
		{"code": "GW", "name": "Guinea-Bissau"},
		{"code": "GY", "name": "Guyana"},
		{"code": "HT", "name": "Haiti"},
		{"code": "HM", "name": "Heard Island and McDonald Islands"},
		{"code": "VA", "name": "Holy See"},
		{"code": "HN", "name": "Honduras"},
		{"code": "HK", "name": "Hong Kong"},
		{"code": "HU", "name": "Hungary"},
		{"code": "IS", "name": "Iceland"},
		{"code": "IN", "name": "India"},
		{"code": "ID", "name": "Indonesia"},
		{"code": "IR", "name": "Iran (Islamic Republic of)"},
		{"code": "IQ", "name": "Iraq"},
		{"code": "IE", "name": "Ireland"},
		{"code": "IM", "name": "Isle of Man"},
		{"code": "IL", "name": "Israel"},
		{"code": "IT", "name": "Italy"},
		{"code": "JM", "name": "Jamaica"},
		{"code": "JP", "name": "Japan"},
		{"code": "JE", "name": "Jersey"},
		{"code": "JO", "name": "Jordan"},
		{"code": "KZ", "name": "Kazakhstan"},
		{"code": "KE", "name": "Kenya"},
		{"code": "KI", "name": "Kiribati"},
		{"code": "KP", "name": "Korea (Democratic People's Republic of)"},
		{"code": "KR", "name": "Korea (Republic of)"},
		{"code": "KW", "name": "Kuwait"},
		{"code": "KG", "name": "Kyrgyzstan"},
		{"code": "LA", "name": "Lao People's Democratic Republic"},
		{"code": "LV", "name": "Latvia"},
		{"code": "LB", "name": "Lebanon"},
		{"code": "LS", "name": "Lesotho"},
		{"code": "LR", "name": "Liberia"},
		{"code": "LY", "name": "Libya"},
		{"code": "LI", "name": "Liechtenstein"},
		{"code": "LT", "name": "Lithuania"},
		{"code": "LU", "name": "Luxembourg"},
		{"code": "MO", "name": "Macao"},
		{"code": "MK", "name": "Macedonia (the former Yugoslav Republic of)"},
		{"code": "MG", "name": "Madagascar"},
		{"code": "MW", "name": "Malawi"},
		{"code": "MY", "name": "Malaysia"},
		{"code": "MV", "name": "Maldives"},
		{"code": "ML", "name": "Mali"},
		{"code": "MT", "name": "Malta"},
		{"code": "MH", "name": "Marshall Islands"},
		{"code": "MQ", "name": "Martinique"},
		{"code": "MR", "name": "Mauritania"},
		{"code": "MU", "name": "Mauritius"},
		{"code": "YT", "name": "Mayotte"},
		{"code": "MX", "name": "Mexico"},
		{"code": "FM", "name": "Micronesia (Federated States of)"},
		{"code": "MD", "name": "Moldova (Republic of)"},
		{"code": "MC", "name": "Monaco"},
		{"code": "MN", "name": "Mongolia"},
		{"code": "ME", "name": "Montenegro"},
		{"code": "MS", "name": "Montserrat"},
		{"code": "MA", "name": "Morocco"},
		{"code": "MZ", "name": "Mozambique"},
		{"code": "MM", "name": "Myanmar"},
		{"code": "NA", "name": "Namibia"},
		{"code": "NR", "name": "Nauru"},
		{"code": "NP", "name": "Nepal"},
		{"code": "NL", "name": "Netherlands"},
		{"code": "NC", "name": "New Caledonia"},
		{"code": "NZ", "name": "New Zealand"},
		{"code": "NI", "name": "Nicaragua"},
		{"code": "NE", "name": "Niger"},
		{"code": "NG", "name": "Nigeria"},
		{"code": "NU", "name": "Niue"},
		{"code": "NF", "name": "Norfolk Island"},
		{"code": "MP", "name": "Northern Mariana Islands"},
		{"code": "NO", "name": "Norway"},
		{"code": "OM", "name": "Oman"},
		{"code": "PK", "name": "Pakistan"},
		{"code": "PW", "name": "Palau"},
		{"code": "PS", "name": "Palestine, State of"},
		{"code": "PA", "name": "Panama"},
		{"code": "PG", "name": "Papua New Guinea"},
		{"code": "PY", "name": "Paraguay"},
		{"code": "PE", "name": "Peru"},
		{"code": "PH", "name": "Philippines"},
		{"code": "PN", "name": "Pitcairn"},
		{"code": "PL", "name": "Poland"},
		{"code": "PT", "name": "Portugal"},
		{"code": "PR", "name": "Puerto Rico"},
		{"code": "QA", "name": "Qatar"},
		{"code": "RE", "name": "Réunion"},
		{"code": "RO", "name": "Romania"},
		{"code": "RU", "name": "Russian Federation"},
		{"code": "RW", "name": "Rwanda"},
		{"code": "BL", "name": "Saint Barthélemy"},
		{"code": "SH", "name": "Saint Helena, Ascension and Tristan da Cunha"},
		{"code": "KN", "name": "Saint Kitts and Nevis"},
		{"code": "LC", "name": "Saint Lucia"},
		{"code": "MF", "name": "Saint Martin (French part)"},
		{"code": "PM", "name": "Saint Pierre and Miquelon"},
		{"code": "VC", "name": "Saint Vincent and the Grenadines"},
		{"code": "WS", "name": "Samoa"},
		{"code": "SM", "name": "San Marino"},
		{"code": "ST", "name": "Sao Tome and Principe"},
		{"code": "SA", "name": "Saudi Arabia"},
		{"code": "SN", "name": "Senegal"},
		{"code": "RS", "name": "Serbia"},
		{"code": "SC", "name": "Seychelles"},
		{"code": "SL", "name": "Sierra Leone"},
		{"code": "SG", "name": "Singapore"},
		{"code": "SX", "name": "Sint Maarten (Dutch part)"},
		{"code": "SK", "name": "Slovakia"},
		{"code": "SI", "name": "Slovenia"},
		{"code": "SB", "name": "Solomon Islands"},
		{"code": "SO", "name": "Somalia"},
		{"code": "ZA", "name": "South Africa"},
		{"code": "GS", "name": "South Georgia and the South Sandwich Islands"},
		{"code": "SS", "name": "South Sudan"},
		{"code": "ES", "name": "Spain"},
		{"code": "LK", "name": "Sri Lanka"},
		{"code": "SD", "name": "Sudan"},
		{"code": "SR", "name": "Suriname"},
		{"code": "SJ", "name": "Svalbard and Jan Mayen"},
		{"code": "SZ", "name": "Swaziland"},
		{"code": "SE", "name": "Sweden"},
		{"code": "CH", "name": "Switzerland"},
		{"code": "SY", "name": "Syrian Arab Republic"},
		{"code": "TW", "name": "Taiwan, Province of China"},
		{"code": "TJ", "name": "Tajikistan"},
		{"code": "TZ", "name": "Tanzania, United Republic of"},
		{"code": "TH", "name": "Thailand"},
		{"code": "TL", "name": "Timor-Leste"},
		{"code": "TG", "name": "Togo"},
		{"code": "TK", "name": "Tokelau"},
		{"code": "TO", "name": "Tonga"},
		{"code": "TT", "name": "Trinidad and Tobago"},
		{"code": "TN", "name": "Tunisia"},
		{"code": "TR", "name": "Turkey"},
		{"code": "TM", "name": "Turkmenistan"},
		{"code": "TC", "name": "Turks and Caicos Islands"},
		{"code": "TV", "name": "Tuvalu"},
		{"code": "UG", "name": "Uganda"},
		{"code": "UA", "name": "Ukraine"},
		{"code": "AE", "name": "United Arab Emirates"},
		{"code": "GB", "name": "United Kingdom of Great Britain and Northern Ireland"},
		{"code": "US", "name": "United States of America"},
		{"code": "UM", "name": "United States Minor Outlying Islands"},
		{"code": "UY", "name": "Uruguay"},
		{"code": "UZ", "name": "Uzbekistan"},
		{"code": "VU", "name": "Vanuatu"},
		{"code": "VE", "name": "Venezuela (Bolivarian Republic of)"},
		{"code": "VN", "name": "Viet Nam"},
		{"code": "VG", "name": "Virgin Islands (British)"},
		{"code": "VI", "name": "Virgin Islands (U.S.)"},
		{"code": "WF", "name": "Wallis and Futuna"},
		{"code": "EH", "name": "Western Sahara"},
		{"code": "YE", "name": "Yemen"},
		{"code": "ZM", "name": "Zambia"},
		{"code": "ZW", "name": "Zimbabwe"}
	];
	
    var state_list = {"AU":[{"code": "ACT", "name": "Australian Capital Territory"},
							{"code": "NSW", "name": "New South Wales"},
							{"code": "NT", "name": "Northern Territory"},
							{"code": "QLD", "name": "Queensland"},
							{"code": "SA", "name": "South Australia"},
							{"code": "TAS", "name": "Tasmania"},
							{"code": "VIC", "name": "Victoria"},
							{"code": "WA", "name": "Western Australia"}], 
					  "BR":[{"code": "AC", "name": "Acre"},
							{"code": "AL", "name": "Alagoas"},
							{"code": "AM", "name": "Amazonas"},
							{"code": "AP", "name": "Amapá"},
							{"code": "BA", "name": "Bahia"},
							{"code": "CE", "name": "Ceará"},
							{"code": "DF", "name": "Distrito Federal"},
							{"code": "ES", "name": "Espírito Santo"},
							{"code": "GO", "name": "Goiás"},
							{"code": "MA", "name": "Maranhão"},
							{"code": "MG", "name": "Minas Gerais"},
							{"code": "MS", "name": "Mato Grosso do Sul"},
							{"code": "MT", "name": "Mato Grosso"},
							{"code": "PA", "name": "Pará"},
							{"code": "PB", "name": "Paraíba"},
							{"code": "PE", "name": "Pernambuco"},
							{"code": "PI", "name": "Piauí"},
							{"code": "PR", "name": "Paraná"},
							{"code": "RJ", "name": "Rio de Janeiro"},
							{"code": "RN", "name": "Rio Grande do Norte"},
							{"code": "RO", "name": "Rondônia"},
							{"code": "RR", "name": "Roraima"},
							{"code": "RS", "name": "Rio Grande do Sul"},
							{"code": "SC", "name": "Santa Catarina"},
							{"code": "SE", "name": "Sergipe"},
							{"code": "SP", "name": "São Paulo"},
							{"code": "TO", "name": "Tocantins"}],
					  "CA":[{"code": "AB", "name": "Alberta"},
							{"code": "BC", "name": "British Columbia"},
							{"code": "MB", "name": "Manitoba"},
							{"code": "NB", "name": "New Brunswick"},
							{"code": "NL", "name": "Newfoundland and Labrador"},
							{"code": "NS", "name": "Nova Scotia"},
							{"code": "NT", "name": "Northwest Territories"},
							{"code": "NU", "name": "Nunavut"},
							{"code": "ON", "name": "Ontario"},
							{"code": "PE", "name": "Prince Edward Island"},
							{"code": "QC", "name": "Quebec"},
							{"code": "SK", "name": "Saskatchewan"},
							{"code": "YT", "name": "Yukon Territories"}],
					  "CN":[{"code": "11", "name": "Beijing"},
							{"code": "12", "name": "Tianjin"},
							{"code": "13", "name": "Hebei"},
							{"code": "14", "name": "Shanxi"},
							{"code": "15", "name": "Nei Mongol"},
							{"code": "21", "name": "Liaoning"},
							{"code": "22", "name": "Jilin"},
							{"code": "23", "name": "Heilongjiang"},
							{"code": "31", "name": "Shanghai"},
							{"code": "32", "name": "Jiangsu"},
							{"code": "33", "name": "Zhejiang"},
							{"code": "34", "name": "Anhui"},
							{"code": "35", "name": "Fujian"},
							{"code": "36", "name": "Jiangxi"},
							{"code": "37", "name": "Shandong"},
							{"code": "41", "name": "Henan"},
							{"code": "42", "name": "Hubei"},
							{"code": "43", "name": "Hunan"},
							{"code": "44", "name": "Guangdong"},
							{"code": "45", "name": "Guangxi"},
							{"code": "46", "name": "Hainan"},
							{"code": "50", "name": "Chongqing"},
							{"code": "51", "name": "Sichuan"},
							{"code": "52", "name": "Guizhou"},
							{"code": "53", "name": "Yunnan"},
							{"code": "54", "name": "Xizang"},
							{"code": "61", "name": "Shaanxi"},
							{"code": "62", "name": "Gansu"},
							{"code": "63", "name": "Qinghai"},
							{"code": "64", "name": "Ningxia"},
							{"code": "65", "name": "Xinjiang"},
							{"code": "71", "name": "Taiwan"},
							{"code": "91", "name": "Hong Kong"},
							{"code": "92", "name": "Macao"}],
					  "IE":[{"code": "CE", "name": "Clare"},
							{"code": "CN", "name": "Cavan"},
							{"code": "CO", "name": "Cork"},
							{"code": "CW", "name": "Carlow"},
							{"code": "D", "name": "Dublin"},
							{"code": "DL", "name": "Donegal"},
							{"code": "G", "name": "Galway"},
							{"code": "KE", "name": "Kildare"},
							{"code": "KK", "name": "Kilkenny"},
							{"code": "KY", "name": "Kerry"},
							{"code": "LD", "name": "Longford"},
							{"code": "LH", "name": "Louth"},
							{"code": "LK", "name": "Limerick"},
							{"code": "LM", "name": "Leitrim"},
							{"code": "LS", "name": "Laois"},
							{"code": "MH", "name": "Meath"},
							{"code": "MN", "name": "Monaghan"},
							{"code": "MO", "name": "Mayo"},
							{"code": "OY", "name": "Offaly"},
							{"code": "RN", "name": "Roscommon"},
							{"code": "SO", "name": "Sligo"},
							{"code": "TA", "name": "Tipperary"},
							{"code": "WD", "name": "Waterford"},
							{"code": "WH", "name": "Westmeath"},
							{"code": "WW", "name": "Wicklow"},
							{"code": "WX", "name": "Wexford"}],
					  "IN":[{"code": "AN", "name": "Andaman and Nicobar Islands"},
							{"code": "AP", "name": "Andhra Pradesh"},
							{"code": "AR", "name": "Arunachal Pradesh"},
							{"code": "AS", "name": "Assam"},
							{"code": "BR", "name": "Bihar"},
							{"code": "CH", "name": "Chandigarh"},
							{"code": "CT", "name": "Chhattisgarh"},
							{"code": "DD", "name": "Daman and Diu"},
							{"code": "DL", "name": "Delhi"},
							{"code": "DN", "name": "Dadra and Nagar Haveli"},
							{"code": "GA", "name": "Goa"},
							{"code": "GJ", "name": "Gujarat"},
							{"code": "HP", "name": "Himachal Pradesh"},
							{"code": "HR", "name": "Haryana"},
							{"code": "JH", "name": "Jharkhand"},
							{"code": "JK", "name": "Jammu and Kashmir"},
							{"code": "KA", "name": "Karnataka"},
							{"code": "KL", "name": "Kerala"},
							{"code": "LD", "name": "Lakshadweep"},
							{"code": "MH", "name": "Maharashtra"},
							{"code": "ML", "name": "Meghalaya"},
							{"code": "MN", "name": "Manipur"},
							{"code": "MP", "name": "Madhya Pradesh"},
							{"code": "MZ", "name": "Mizoram"},
							{"code": "NL", "name": "Nagaland"},
							{"code": "OR", "name": "Odisha"},
							{"code": "PB", "name": "Punjab"},
							{"code": "PY", "name": "Puducherry"},
							{"code": "RJ", "name": "Rajasthan"},
							{"code": "SK", "name": "Sikkim"},
							{"code": "TN", "name": "Tamil Nadu"},
							{"code": "TR", "name": "Tripura"},
							{"code": "UP", "name": "Uttar Pradesh"},
							{"code": "UT", "name": "Uttarakhand"},
							{"code": "WB", "name": "West Bengal"}],
					  "IT":[{"code": "AG", "name": "Agrigento"},
							{"code": "AL", "name": "Alessandria"},
							{"code": "AN", "name": "Ancona"},
							{"code": "AO", "name": "Aosta"},
							{"code": "AP", "name": "Ascoli Piceno"},
							{"code": "AQ", "name": "L'Aquila"},
							{"code": "AR", "name": "Arezzo"},
							{"code": "AT", "name": "Asti"},
							{"code": "AV", "name": "Avellino"},
							{"code": "BA", "name": "Bari"},
							{"code": "BG", "name": "Bergamo"},
							{"code": "BI", "name": "Biella"},
							{"code": "BL", "name": "Belluno"},
							{"code": "BN", "name": "Benevento"},
							{"code": "BO", "name": "Bologna"},
							{"code": "BR", "name": "Brindisi"},
							{"code": "BS", "name": "Brescia"},
							{"code": "BT", "name": "Barletta-Andria-Trani"},
							{"code": "BZ", "name": "Bolzano"},
							{"code": "CA", "name": "Cagliari"},
							{"code": "CB", "name": "Campobasso"},
							{"code": "CE", "name": "Caserta"},
							{"code": "CH", "name": "Chieti"},
							{"code": "CI", "name": "Carbonia-Iglesias"},
							{"code": "CL", "name": "Caltanissetta"},
							{"code": "CN", "name": "Cuneo"},
							{"code": "CO", "name": "Como"},
							{"code": "CR", "name": "Cremona"},
							{"code": "CS", "name": "Cosenza"},
							{"code": "CT", "name": "Catania"},
							{"code": "CZ", "name": "Catanzaro"},
							{"code": "EN", "name": "Enna"},
							{"code": "FC", "name": "Forlì-Cesena"},
							{"code": "FE", "name": "Ferrara"},
							{"code": "FG", "name": "Foggia"},
							{"code": "FI", "name": "Florence"},
							{"code": "FM", "name": "Fermo"},
							{"code": "FR", "name": "Frosinone"},
							{"code": "GE", "name": "Genoa"},
							{"code": "GO", "name": "Gorizia"},
							{"code": "GR", "name": "Grosseto"},
							{"code": "IM", "name": "Imperia"},
							{"code": "IS", "name": "Isernia"},
							{"code": "KR", "name": "Crotone"},
							{"code": "LC", "name": "Lecco"},
							{"code": "LE", "name": "Lecce"},
							{"code": "LI", "name": "Livorno"},
							{"code": "LO", "name": "Lodi"},
							{"code": "LT", "name": "Latina"},
							{"code": "LU", "name": "Lucca"},
							{"code": "MB", "name": "Monza and Brianza"},
							{"code": "MC", "name": "Macerata"},
							{"code": "ME", "name": "Messina"},
							{"code": "MI", "name": "Milan"},
							{"code": "MN", "name": "Mantua"},
							{"code": "MO", "name": "Modena"},
							{"code": "MS", "name": "Massa and Carrara"},
							{"code": "MT", "name": "Matera"},
							{"code": "NA", "name": "Naples"},
							{"code": "NO", "name": "Novara"},
							{"code": "NU", "name": "Nuoro"},
							{"code": "OG", "name": "Ogliastra"},
							{"code": "OR", "name": "Oristano"},
							{"code": "OT", "name": "Olbia-Tempio"},
							{"code": "PA", "name": "Palermo"},
							{"code": "PC", "name": "Piacenza"},
							{"code": "PD", "name": "Padua"},
							{"code": "PE", "name": "Pescara"},
							{"code": "PG", "name": "Perugia"},
							{"code": "PI", "name": "Pisa"},
							{"code": "PN", "name": "Pordenone"},
							{"code": "PO", "name": "Prato"},
							{"code": "PR", "name": "Parma"},
							{"code": "PT", "name": "Pistoia"},
							{"code": "PU", "name": "Pesaro and Urbino"},
							{"code": "PV", "name": "Pavia"},
							{"code": "PZ", "name": "Potenza"},
							{"code": "RA", "name": "Ravenna"},
							{"code": "RC", "name": "Reggio Calabria"},
							{"code": "RE", "name": "Reggio Emilia"},
							{"code": "RG", "name": "Ragusa"},
							{"code": "RI", "name": "Rieti"},
							{"code": "RM", "name": "Rome"},
							{"code": "RN", "name": "Rimini"},
							{"code": "RO", "name": "Rovigo"},
							{"code": "SA", "name": "Salerno"},
							{"code": "SI", "name": "Siena"},
							{"code": "SO", "name": "Sondrio"},
							{"code": "SP", "name": "La Spezia"},
							{"code": "SR", "name": "Syracuse"},
							{"code": "SS", "name": "Sassari"},
							{"code": "SV", "name": "Savona"},
							{"code": "TA", "name": "Taranto"},
							{"code": "TE", "name": "Teramo"},
							{"code": "TN", "name": "Trento"},
							{"code": "TO", "name": "Turin"},
							{"code": "TP", "name": "Trapani"},
							{"code": "TR", "name": "Terni"},
							{"code": "TS", "name": "Trieste"},
							{"code": "TV", "name": "Treviso"},
							{"code": "UD", "name": "Udine"},
							{"code": "VA", "name": "Varese"},
							{"code": "VB", "name": "Verbano-Cusio-Ossola"},
							{"code": "VC", "name": "Vercelli"},
							{"code": "VE", "name": "Venice"},
							{"code": "VI", "name": "Vicenza"},
							{"code": "VR", "name": "Verona"},
							{"code": "VS", "name": "Medio Campidano"},
							{"code": "VT", "name": "Viterbo"},
							{"code": "VV", "name": "Vibo Valentia"}],
					  "MX":[{"code": "AG", "name": "Aguascalientes"},
							{"code": "BC", "name": "Baja California"},
							{"code": "BS", "name": "Baja California Sur"},
							{"code": "CH", "name": "Chihuahua"},
							{"code": "CL", "name": "Colima"},
							{"code": "CM", "name": "Campeche"},
							{"code": "CO", "name": "Coahuila"},
							{"code": "CS", "name": "Chiapas"},
							{"code": "DF", "name": "Federal District"},
							{"code": "DG", "name": "Durango"},
							{"code": "GR", "name": "Guerrero"},
							{"code": "GT", "name": "Guanajuato"},
							{"code": "HG", "name": "Hidalgo"},
							{"code": "JA", "name": "Jalisco"},
							{"code": "ME", "name": "Mexico State"},
							{"code": "MI", "name": "Michoacán"},
							{"code": "MO", "name": "Morelos"},
							{"code": "NA", "name": "Nayarit"},
							{"code": "NL", "name": "Nuevo León"},
							{"code": "OA", "name": "Oaxaca"},
							{"code": "PB", "name": "Puebla"},
							{"code": "QE", "name": "Querétaro"},
							{"code": "QR", "name": "Quintana Roo"},
							{"code": "SI", "name": "Sinaloa"},
							{"code": "SL", "name": "San Luis Potosí"},
							{"code": "SO", "name": "Sonora"},
							{"code": "TB", "name": "Tabasco"},
							{"code": "TL", "name": "Tlaxcala"},
							{"code": "TM", "name": "Tamaulipas"},
							{"code": "VE", "name": "Veracruz"},
							{"code": "YU", "name": "Yucatán"},
							{"code": "ZA", "name": "Zacatecas"}],
					  "US":[{"code": "AK", "name": "Alaska"},
							{"code": "AL", "name": "Alabama"},
							{"code": "AR", "name": "Arkansas"},
							{"code": "AZ", "name": "Arizona"},
							{"code": "CA", "name": "California"},
							{"code": "CO", "name": "Colorado"},
							{"code": "CT", "name": "Connecticut"},
							{"code": "DC", "name": "District of Columbia"},
							{"code": "DE", "name": "Delaware"},
							{"code": "FL", "name": "Florida"},
							{"code": "GA", "name": "Georgia"},
							{"code": "HI", "name": "Hawaii"},
							{"code": "IA", "name": "Iowa"},
							{"code": "ID", "name": "Idaho"},
							{"code": "IL", "name": "Illinois"},
							{"code": "IN", "name": "Indiana"},
							{"code": "KS", "name": "Kansas"},
							{"code": "KY", "name": "Kentucky"},
							{"code": "LA", "name": "Louisiana"},
							{"code": "MA", "name": "Massachusetts"},
							{"code": "MD", "name": "Maryland"},
							{"code": "ME", "name": "Maine"},
							{"code": "MI", "name": "Michigan"},
							{"code": "MN", "name": "Minnesota"},
							{"code": "MO", "name": "Missouri"},
							{"code": "MS", "name": "Mississippi"},
							{"code": "MT", "name": "Montana"},
							{"code": "NC", "name": "North Carolina"},
							{"code": "ND", "name": "North Dakota"},
							{"code": "NE", "name": "Nebraska"},
							{"code": "NH", "name": "New Hampshire"},
							{"code": "NJ", "name": "New Jersey"},
							{"code": "NM", "name": "New Mexico"},
							{"code": "NV", "name": "Nevada"},
							{"code": "NY", "name": "New York"},
							{"code": "OH", "name": "Ohio"},
							{"code": "OK", "name": "Oklahoma"},
							{"code": "OR", "name": "Oregon"},
							{"code": "PA", "name": "Pennsylvania"},
							{"code": "RI", "name": "Rhode Island"},
							{"code": "SC", "name": "South Carolina"},
							{"code": "SD", "name": "South Dakota"},
							{"code": "TN", "name": "Tennessee"},
							{"code": "TX", "name": "Texas"},
							{"code": "UT", "name": "Utah"},
							{"code": "VA", "name": "Virginia"},
							{"code": "VT", "name": "Vermont"},
							{"code": "WA", "name": "Washington"},
							{"code": "WI", "name": "Wisconsin"},
							{"code": "WV", "name": "West Virginia"},
							{"code": "WY", "name": "Wyoming"},
							{"code": "AA", "name": "Armed Forces Americas"},
							{"code": "AE", "name": "Armed Forces Europe"},
							{"code": "AP", "name": "Armed Forces Pacific"},
							{"code": "AS", "name": "American Samoa"},
							{"code": "FM", "name": "Federated Micronesia"},
							{"code": "GU", "name": "Guam"},
							{"code": "MH", "name": "Marshall Islands"},
							{"code": "MP", "name": "Northern Mariana Islands"},
							{"code": "PR", "name": "Puerto Rico"},
							{"code": "PW", "name": "Palau"},
							{"code": "UM", "name": "United States Minor Outlying Islands"},
							{"code": "VI", "name": "US Virgin Islands"},
							{"code": "TT", "name": "Trust Territories"}],
					  "AE":[{"code": "AD", "name": "Abu Dhabi"},
							{"code": "AJ", "name": "Ajman"},
							{"code": "DU", "name": "Dubai"},
							{"code": "FU", "name": "Al Fujairah"},
							{"code": "RK", "name": "R'as al Khaimah"},
							{"code": "SH", "name": "Sharjah "},
							{"code": "UQ", "name": "Umm al-Quwain"}],
					  "CR":[{"code": "A", "name": "Alajuela"},
							{"code": "C", "name": "Cartago"},
							{"code": "G", "name": "Guanacaste"},
							{"code": "H", "name": "Heredia"},
							{"code": "L", "name": "Limón"},
							{"code": "P", "name": "Puntarenas"},
							{"code": "SJ", "name": "San José"}],
					  "ID":[{"code": "AC", "name": "Aceh"},
							{"code": "BA", "name": "Bali"},
							{"code": "BB", "name": "Bangka-Belitung"},
							{"code": "BE", "name": "Bengkulu"},
							{"code": "BT", "name": "Banten"},
							{"code": "GO", "name": "Gorontalo"},
							{"code": "IJ", "name": "Papua"},
							{"code": "JA", "name": "Jambi"},
							{"code": "JI", "name": "Jawa Timur"},
							{"code": "JK", "name": "Jakarta Raya"},
							{"code": "JR", "name": "Jawa Barat"},
							{"code": "JT", "name": "Jawa Tengah"},
							{"code": "KB", "name": "Kalimantan Barat"},
							{"code": "KI", "name": "Kalimantan Timur"},
							{"code": "KS", "name": "Kalimantan Selatan"},
							{"code": "KT", "name": "Kalimantan Tengah"},
							{"code": "LA", "name": "Lampung"},
							{"code": "MA", "name": "Maluku"},
							{"code": "MU", "name": "Maluku Utara"},
							{"code": "NTB", "name": "Nusa Tenggara Barat"},
							{"code": "NTT", "name": "Nusa Tenggara Timur"},
							{"code": "RIA", "name": "Riau"},
							{"code": "SB", "name": "Sumatera Barat"},
							{"code": "SG", "name": "Sulawesi Tenggara"},
							{"code": "SL", "name": "Sumatera Selatan"},
							{"code": "SN", "name": "Sulawesi Selatan"},
							{"code": "ST", "name": "Sulawesi Tengah"},
							{"code": "SU", "name": "Sumatera Utara"},
							{"code": "SW", "name": "Sulawesi Utara"},
							{"code": "YO", "name": "Yogyakarta"}],
					  "NZ":[{"code": "AUK", "name": "Auckland"},
							{"code": "BOP", "name": "Bay of Plenty"},
							{"code": "CAN", "name": "Canterbury"},
							{"code": "GIS", "name": "Gisborne"},
							{"code": "HKB", "name": "Hawke's Bay"},
							{"code": "MBH", "name": "Marlborough"},
							{"code": "MWT", "name": "Manawatu-Wanganui"},
							{"code": "NSN", "name": "Nelson"},
							{"code": "NTL", "name": "Northland"},
							{"code": "OTA", "name": "Otago"},
							{"code": "STL", "name": "Southland"},
							{"code": "TAS", "name": "Tasman"},
							{"code": "TKI", "name": "Taranaki"},
							{"code": "WGN", "name": "Wellington"},
							{"code": "WKO", "name": "Waikato"},
							{"code": "WTC", "name": "West Coast"}],
					  "PK":[{"code": "BA", "name": "Balochistan"},
							{"code": "IS", "name": "Islamabad"},
							{"code": "JK", "name": "Azad Kashmir"},
							{"code": "NA", "name": "Gilgit-Baltistan"},
							{"code": "NW", "name": "Khyber-Pakhtunkhwa"},
							{"code": "PB", "name": "Punjab"},
							{"code": "SD", "name": "Sindh"},
							{"code": "TA", "name": "Federally Administered Tribal "}],
					  "PA":[{"code": "1", "name": "Bocas del Toro"},
							{"code": "2", "name": "Coclé"},
							{"code": "3", "name": "Colón"},
							{"code": "4", "name": "Chiriqui"},
							{"code": "5", "name": "Darién"},
							{"code": "6", "name": "Herrera"},
							{"code": "7", "name": "Loa Santoa"},
							{"code": "8", "name": "Panamá"},
							{"code": "9", "name": "Veraguas"},
							{"code": "Q", "name": "Comarca de San Blas"}],
					  "SA":[{"code": "ALB", "name": "Al Batah"},
							{"code": "ALJ", "name": "Al Jawf"},
							{"code": "ALM", "name": "Al Madinah"},
							{"code": "ALQ", "name": "Al Qasim"},
							{"code": "ARR", "name": "Ar Riyad"},
							{"code": "ASH", "name": "Ash Sharqiyah"},
							{"code": "ASI", "name": "Asir"},
							{"code": "ASL", "name": "Al Shamallyah"},
							{"code": "HAI", "name": "Ha'il"},
							{"code": "JLZ", "name": "Jlzan"},
							{"code": "MAK", "name": "Makkah"},
							{"code": "NAJ", "name": "Najran"},
							{"code": "TAB", "name": "Tabuk"}],
					  "ZA":[{"code": "EC", "name": "Eastern Cape"},
							{"code": "FS", "name": "Free State"},
							{"code": "GT", "name": "Gauteng"},
							{"code": "LP", "name": "Limpopo"},
							{"code": "MP", "name": "Mpumalanga"},
							{"code": "NC", "name": "Northern Cape"},
							{"code": "NL", "name": "KwaZulu-Natal"},
							{"code": "NW", "name": "North West"},
							{"code": "WC", "name": "Western Cape"}]
					};
					
	var emailPattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
	var websiteUrlPattern = /^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$/;

	$(document).ready(function() {
		var countryList = $('#country_code');
		$.each(country_list, function (i, country) {
			countryList.append($('<option>', 
			{
				value: country.code,
				text: country.name
			}));
		});

		$('#registerform').on('submit', checkform);
		$('#country_code').on('change', setstates);
	});
	
	function checkform()
	{
		var isvalid = true;
		
		if ($('#company').val().trim() === "") 
		{
			$('#company').css('border-color', 'red');			
			isvalid = false;
		}
		else 
		{
			$('#company').css('border-color', '');
		}
		
		if ($('#company_website').val().trim() !== "" && !websiteUrlPattern.test($('#company_website').val().trim())) 
		{
			$('#company_website').css('border-color', 'red');			
			isvalid = false;
		}
		else 
		{
			$('#company_website').css('border-color', '');
		}
		
		if ($('#first_name').val().trim() === "") 
		{
			$('#first_name').css('border-color', 'red');			
			isvalid = false;
		}
		else 
		{
			$('#first_name').css('border-color', '');
		}
		
		if ($('#last_name').val().trim() === "") 
		{
			$('#last_name').css('border-color', 'red');			
			isvalid = false;
		}
		else 
		{
			$('#last_name').css('border-color', '');
		}
		
		if (($('#email').val().trim() === "") || !emailPattern.test($('#email').val().trim()))
		{
			$('#email').css('border-color', 'red');			
			isvalid = false;
		}
		else 
		{
			$('#email').css('border-color', '');
		}
		
		if ($('#phone').val().trim() === "") 
		{
			$('#phone').css('border-color', 'red');			
			isvalid = false;
		}
		else 
		{
			$('#phone').css('border-color', '');
		}
		
		if ($('#city').val().trim() === "") 
		{
			$('#city').css('border-color', 'red');			
			isvalid = false;
		}
		else 
		{
			$('#city').css('border-color', '');
		}
		
		if ($('#country_code :selected').val().trim() === "") 
		{
			$('#country_code').css('border-color', 'red');			
			isvalid = false;
		}
		else 
		{
			$('#country_code').css('border-color', '');
		}
		
		if ($('#state_code option').length > 1) 
		{
			if ($('#state_code :selected').val().trim() === "") 
			{
				$('#state_code').css('border-color', 'red');			
				isvalid = false;
			}
			else 
			{
				$('#state_code').css('border-color', '');
			}
		}
		
		if ($('#postcode').val().trim() === "") 
		{
			$('#postcode').css('border-color', 'red');			
			isvalid = false;
		}
		else 
		{
			$('#postcode').css('border-color', '');
		}

		return isvalid;
	}
	
	function setstates() 
	{
		var stateList = $('#state_code');
		var selectedCountryCode = $('#country_code :selected').val().trim();

		if (state_list[selectedCountryCode] !== undefined) 
		{
			stateList.empty();
			stateList.append($('<option>', 
			{
				value: '',
				text: '-- Select State/Province --',
				selected: 'selected',
				disabled: 'disabled'
			}));
			$.each(state_list[selectedCountryCode], function (i, state) {
				stateList.append($('<option>', 
				{
					value: state.code,
					text: state.name
				}));
			});
		}
		else 
		{
			stateList.empty();
			stateList.append($('<option>', 
			{
				value: '',
				text: '-- All State/Province --',
				selected: 'selected',
				disabled: 'disabled'
			}));
		}
	}
</script>

<div class="container">

	<!--  ----------------------------------------------------------------------  -->
	<!--  NOTE: Please add the following <FORM> element to your page.             -->
	<!--  ----------------------------------------------------------------------  -->	
	<form id="registerform" action="https://login.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" class="form-horizontal">

        <input type="hidden" name="oid" value="00D28000000TjZv"/>
        <input type="hidden" name="retURL" value="https://3plearning.force.com/s/partner-interest-submitted"/>

        <input type="hidden" name="currency" value="AUD"/>
		<input type = "hidden" value ="Partner Community Portal" id="lead_source" name="lead_source" />
        <input type="hidden" name="recordType" id="recordType" value="0120I0000019a2k" />
		<!--  ----------------------------------------------------------------------  -->
		<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
		<!--  these lines if you wish to test in debug mode.                          -->
		<!--  <input type="hidden" name="debug" value=1>                              -->
		<!--  <input type="hidden" name="debugEmail"                                  -->
		<!--  value="ayaz.ulhassan@3plearning.com">                                   -->
		<!--  ----------------------------------------------------------------------  -->

		<div class="row">
			<div class="col-sm-offset-1 col-sm-9 text-center">
				<div class="form-group">
					<H2>Register your interest as a Partner</H2>
				</div>
			</div>

			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<input id="company" maxlength="80" name="company" size="20" type="text" class="form-control" placeholder="Company Name" />
				</div>
			</div>
			
			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<input id="company_website" maxlength="120" name="00N0I00000Jof0i" size="20" type="text" class="form-control" placeholder="Company Website" />
				</div>
			</div>
			
			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<input id="first_name" maxlength="40" name="first_name" size="20" type="text" class="form-control" placeholder="First Name" />
				</div>
			</div>
			
			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<input id="last_name" maxlength="80" name="last_name" size="20" type="text" class="form-control" placeholder="Last Name" />
				</div>
			</div>

			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<select id="salutation" name="salutation" class="form-control">
						<option value="" selected="true" disabled="true">-- Select Title --</option>
						<option value="Dr.">Dr.</option>
						<option value="Miss.">Miss.</option>
						<option value="Mr.">Mr.</option>
						<option value="Mrs.">Mrs.</option>
						<option value="Ms.">Ms.</option>
						<option value="Prof.">Prof.</option>
					</select>
				</div>
			</div>
			
			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<input id="email" maxlength="80" name="email" size="20" type="text" class="form-control" placeholder="Email" />
				</div>
			</div>

			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<input id="phone" maxlength="40" name="phone" size="20" type="text" class="form-control" placeholder="Phone" />
				</div>
			</div>
			
			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<input id="city" maxlength="80" name="city" size="20" type="text" class="form-control" placeholder="City" />
				</div>
			</div>

			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<select id="country_code" name="country_code" class="form-control">
						<option value="" selected="true" disabled="true">-- Select Country --</option>
					</select>
				</div>
			</div>
			
			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<select id="state_code" name="state_code" class="form-control">
						<option value="" selected="true" disabled="true">-- Select State/Province --</option>
					</select>
				</div>
			</div>

			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
					<input id="postcode" maxlength="40" name="postcode" size="20" type="text" class="form-control" placeholder="Zip/Postal Code" />
				</div>
			</div>
			
			<div class="col-sm-offset-1 col-sm-4">
				<div class="form-group">
                    <input type="submit" name="submit" class="btn btn-default btn-block"/>
				</div>
			</div>
		</div>
	</form>
</div>
</apex:page>