.THIS .forceTopicFeaturedTopics{margin-top:1.5rem}
.THIS .forceTopicFeaturedTopics .topicList{margin:0;padding:0;list-style-type:none;overflow:hidden}
.THIS .forceTopicFeaturedTopics .featuredTopicHeader{text-transform:uppercase;font-size:1rem;font-weight:700;color:#333;margin-bottom:.75rem;overflow:hidden;text-overflow:ellipsis}
.THIS .forceTopicFeaturedTopics .topicContent{background-color:rgba(0,0,0,.4);-webkit-transition:background .8s ease;transition:background .8s ease}
.THIS .forceTopicFeaturedTopics .topicLabel{font-family: 'Poppins', sans-serif; letter-spacing: 2px; text-transform: uppercase; color:#ffffff; font-size:1rem;font-weight:700}

.THIS .forceTopicFeaturedTopicItem{display:block;padding:1px;width:50%;height:200px;box-sizing:border-box;float:left}
.THIS .forceTopicFeaturedTopicItem .topicLink{position:relative;display:block;width:100%;height:100%;overflow:hidden}
.THIS .forceTopicFeaturedTopicItem .topicImage{background-position:center;background-size:cover;background-repeat:no-repeat;width:100%;height:100%;z-index:-1}
.THIS .forceTopicFeaturedTopicItem .topicContent{position:absolute;left:0;top:0;width:100%;height:100%;display:table;table-layout:fixed}

.THIS ul li{
    width: 33.33333333333333%;
    height: 250px;
    display: block;
    padding: 1px;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

.THIS ul li:nth-child(3){
  margin-right:0 !important;
}

.THIS ul li a:hover{
  background:#66BFEC;
}

.THIS ul li a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;	

}

/*
.THIS ul li a{
	  background:#5A9BD5;
	  display:block;
	  width:100%;
	  padding:25px 0;
	  text-decoration:none;
	  transition: 0.4s;
}

*/


.THIS .topicContent{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
	background-color: rgba(0,0,0,.4);
	transition: background .8s ease;
	font-family: Lato;
	font-size: 1rem;
	box-sizing: border-box;
}

.THIS .topicLabel {
    font-family: 'Poppins', sans-serif;
	color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 1rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;   
}